<p style="color: red">{{msg}}</p>
<form action="/post" method="POST">
  <label for="name">Name:</label>
  <input value="{{name}}" id="name" type="text" name="name">
  <button name="clean" type="submit">Clean</button>
</form>