<p style="color: red">{{msg}}</p>
<form action="/post" method="POST">
  <label for="name">Name:</label>
  <input value="{{name}}" id="name" type="text" name="name">
  <label for="password">Password:</label>
  <input id="password" type="password" name="password">
  <button type="submit">Submit</button>
</form>